@model Verkehrskontrolle.Models.Fahrzeug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fahrzeug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antrieb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antrieb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitze)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitze)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leistung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leistung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZulassungDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZulassungDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TüvDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TüvDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kennzeichen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kennzeichen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Halter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Halter.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
